<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>Login</title>
   </head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">
            <form th:method="POST" th:action="@{/perform-login}">
                <input class="form-control" type="text" name="username" placeholder="Имя пользователя"/>
                <br/>
                <input class="form-control" type="password" name="password" placeholder="Пароль"/>
                <br/>
                <input class="btn btn-primary" type="submit" value="Войти"/>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <a th:href="@{'/register'}">Регистрация</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div th:if="${param.error}" style="color: red">Неправильные имя или пароль</div>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>