<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>register</title>
    </head>
<body>

<h1 class="text-center">Registration</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">
            <form th:method="POST" th:action="@{/register}" th:object="${user}">
                <input class="form-control" type="text" th:field="*{username}" placeholder="Имя пользователя"/>
                <br/>
                <input class="form-control" type="text" th:field="*{password}" placeholder="Пароль"/>
                <br/>
                <br/>
                <input class="btn btn-primary" type="submit" value="Зарегистрироватся"/>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>