<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>register</title>
    </head>
<body>

<h1 class="text-center">Registration</h1>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="col-md-3 text-center">
        <label class="form-label" for="inputEmail"><b>Email</b></label>
        <div class="input-group">
            <input type="text" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Enter email">
        </div>
        <label class="text-danger" for="inputEmail" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
    </div>
    <br>
    <div class="col-md-3 text-center">
        <label class="form-label" for="inputUsername"><b>Name</b></label>
        <div class="input-group">
            <input type="text" th:field="*{username}" id="inputUsername" class="form-control" placeholder="Enter name">
        </div>
        <label class="text-danger" for="inputUsername" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
    </div>
    <br>
    <div class="col-md-3 text-center">
        <label class="form-label" for="inputPassword"><b>Password</b></label>
        <div class="input-group">
            <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Enter password">
        </div>
        <label class="text-danger" for="inputPassword" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-2">
            <input type="submit" value="Create" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">
        </div>
    </div>
</form>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>