<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task create</title>
</head>
<body>

<h1>Create task</h1>

<form action="#" th:action="@{/task/created}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Text: <input type="text" th:field="*{text}"/></p>
    <p>Date deadline: <input type="date" th:field="*{dateDeadLine}"/></p>
    <p>Name group: <select th:field="*{taskGroup}">
        <option th:each="group : ${taskGroups}"
                th:value="${group.id}"
                th:text="${group.name}">
        </option>
    </select></p>
    <p><input type="submit" value="Create"/> <input type="reset" value="Reset"/></p>
</form>

<form action="#" th:action="@{/task}" method="get">
    <input type="submit" value="Back"/>
</form>

</body>
</html>