<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>Form task</title>
</head>
<body>

<h1 class="text-center">Form task</h1>

<form action="#" th:action="@{/task/save}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="col-md-11">
        <label class="form-label" for="inputText"><b>Text</b></label>
        <div class="input-group">
            <input type="text" th:field="*{text}" id="inputText" class="form-control" placeholder="Enter text">
        </div>
        <label class="text-danger" for="inputText" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></label>
    </div>
    <br>
    <div class="col-md-2">
        <label for="taskGroup" class="control-label"><b>Task group</b></label>
        <select class="form-control" th:field="*{taskGroup}" id="taskGroup">
            <option th:each="group : ${taskGroups}"
                    th:value="${group.id}"
                    th:text="${group.name}">
            </option>
        </select>
    </div>
    <br>
    <div class="col-md-1">
        <label class="form-label" for="inputDateCreated"><b>Date created</b></label>
        <div class="input-group">
            <input type="text" readonly th:field="*{dateCreated}" id="inputDateCreated" class="form-control"
                   placeholder="Date created">
        </div>
    </div>
    <br>
    <div class="col-md-1">
        <label class="form-label" for="inputDateDeadLine"><b>Date deadline</b></label>
        <div class="input-group">
            <input type="text" th:field="*{dateDeadLine}" id="inputDateDeadLine" class="form-control"
                   placeholder="Enter deadline">
        </div>
    </div>
    <br>
    <div class="col-md-1">
        <div class="col-sm-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{isCompleted}"><b>Is Completed</b>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-2">
            <input type="submit" value="Save" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">
        </div>
    </div>
</form>

<form action="#" th:action="@{/task}" method="get">
    <div class="col-md-6">
        <input type="submit" value="Back" class="btn btn-secondary btn-lg"/>
    </div>
</form>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>