<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>Task list</title>
    </head>
<body>

<h1 class="text-center">Task list</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Text</th>
        <th scope="col">Date created</th>
        <th scope="col">Date deadline</th>
        <th scope="col">Status</th>
        <th scope="col">Name group</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.text}"></td>
        <td th:text="${task.dateCreated}"></td>
        <td th:text="${task.dateDeadLine}"></td>
        <td th:text="${task.isCompleted} ? 'Completed' : 'Did Not Completed'"></td>
        <td th:text="${task.taskGroup.name}"></td>
        <td><a th:href="${'/task/' + task.id + '/delete' }" class="btn btn-danger btn-lg active">Delete</a></td>
        <td><a th:href="${'/task/' + task.id }" class="btn btn-primary btn-lg active">Update</a></td>
    </tr>
    </tbody>
</table>

<div style="text-align: center;">
    <form action="#" th:action="@{/task/create}" method="get">
        <input type="submit" value="Create" class="btn btn-success"/>
    </form>
    <br>
    <form action="#" th:action="@{/task-group}" method="get">
        <input type="submit" value="Open task group" class="btn btn-primary"/>
    </form>
</div>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>