<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Form task group</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1 class="text-center">Form task group</h1>

<form action="#" th:action="@{/task-group/save}" th:object="${taskGroup}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{tasks}"/>
    <div class="col-md-3">
        <label class="form-label" for="inputName"><b>Name</b></label>
        <div class="input-group">
            <input type="text" th:field="*{name}" id="inputName" class="form-control"
                   placeholder="Name">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-2">
            <input type="submit" value="Save" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">
        </div>
    </div>
</form>

<table class="table table-striped" th:if="${taskGroup.id != -1}">
    <thead>
    <tr>
        <th scope="col">Text</th>
        <th scope="col">Date created</th>
        <th scope="col">Date deadline</th>
        <th scope="col">Status</th>
        <th scope="col">Name group</th>
        <th scope="col">Add to Group</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.text}"></td>
        <td th:text="${task.dateCreated}"></td>
        <td th:text="${task.dateDeadLine}"></td>
        <td th:text="${task.isCompleted} ? 'Completed' : 'DidNotCompleted'"></td>
        <td th:text="${task.taskGroup.name}"></td>
        <td><a th:if="${task.taskGroup != taskGroup}"
               th:href="@{'/task-group/' + ${taskGroup.id} + '/add-task/' + ${task.id}}"
               class="btn btn-primary active">Add to Group</a></td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/task-group}" method="get">
    <div class="col-md-6">
        <input type="submit" value="Back" class="btn btn-secondary btn-lg"/>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>