<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
              </th:block> /*/-->
    <title>Form task group</title>
    </head>
<body>

<h1 class="text-center">Form task group</h1>

<form action="#" th:action="@{/task-group/save}" th:object="${taskGroup}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{tasks}"/>
    <div class="col-md-3">
        <label class="form-label" for="inputName"><b>Name</b></label>
        <div class="input-group">
            <input type="text" th:field="*{name}" id="inputName" class="form-control"
                   placeholder="Name">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-2">
            <input type="submit" value="Save" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">
        </div>
    </div>
</form>

<table class="table table-striped" th:if="${taskGroup.id != -1}">
    <thead>
    <tr>
        <th scope="col">Text</th>
        <th scope="col">Date created</th>
        <th scope="col">Date deadline</th>
        <th scope="col">Status</th>
        <th scope="col">Name group</th>
        <th scope="col">Add to Group</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.text}"></td>
        <td th:text="${task.dateCreated}"></td>
        <td th:text="${task.dateDeadLine}"></td>
        <td th:text="${task.isCompleted} ? 'Completed' : 'DidNotCompleted'"></td>
        <td th:text="${task.taskGroup.name}"></td>
        <td><a th:if="${task.taskGroup != taskGroup}"
               th:href="@{'/task-group/' + ${taskGroup.id} + '/add-task/' + ${task.id}}"
               class="btn btn-primary active">Add to Group</a></td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/task-group}" method="get">
    <div class="col-md-6">
        <input type="submit" value="Back" class="btn btn-secondary btn-lg"/>
    </div>
</form>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>