<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>Task group list</title>
    </head>
<body>

<h1 class="text-center">Task group list</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Count of tasks</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${taskGroups}">
        <td th:text="${group.name}"></td>
        <td th:text="${group.getCountTasks}"></td>
        <td> <a th:href="${'/task-group/' + group.id + '/delete' }" class="btn btn-danger btn-lg active">Delete</a> </td>
        <td> <a th:href="${'/task-group/' + group.id }" class="btn btn-primary btn-lg active">Update</a></td>
    </tr>
    </tbody>
</table>

<div style="text-align: center;">
    <form action="#" th:action="@{/task-group/create}" method="get">
        <input type="submit" value="Create new" class="btn btn-success"/>
    </form>
    <br>
    <form action="#" th:action="@{/task}" method="get">
        <input type="submit" value="Open task list" class="btn btn-primary"/>
    </form>
</div>

<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>